.row.form-group
  = f.label :first, 'First Name', class: 'control-label col-xs-2 col-xs-offset-1'
  .col-xs-6
    = f.text_field :first, class: 'form-control', placeholder: 'First Name'
.row.form-group
  = f.label :last, 'Last Name', class: 'control-label col-xs-2 col-xs-offset-1'
  .col-xs-6
    = f.text_field :last, class: 'form-control', placeholder: 'Last Name'
.row.form-group
  = f.label :email, class: 'control-label col-xs-2 col-xs-offset-1'
  .col-xs-6
    = f.text_field :email, class: 'form-control', placeholder: 'Email'
.row.form-group
  = f.label :admin, class: 'control-label col-xs-2 col-xs-offset-1'
  .col-xs-6
    .checkbox
      %label
        %input{type: 'checkbox', value: "#{@user.admin ? 'checked' : ''}", name: 'user[admin]', style: 'margin: 0 !important;'}
        %span.ripples
        %span.check
