.row.form-group
  = f.label :visible_group_ids, 'Visible Groups', class: 'control-label col-xs-2 col-xs-offset-1'
  .col-xs-6
    = f.select :visible_group_ids, options_for_select( visible_group_options, @section.visible_group_ids), {include_hidden: false}, {multiple: true, class: 'form-control'}
.row.form-group
  = f.label :name, class: 'control-label col-xs-2 col-xs-offset-1'
  .col-xs-6
    = f.text_field :name, class: 'form-control'
.row.form-group
  = f.label :mustache, 'Template', class: 'control-label col-xs-2 col-xs-offset-1'
  .col-xs-6
    = f.text_area :mustache, class: 'form-control', style: 'height: 600px'
.row.form-group
  = f.label :fields, 'Fields', class: 'control-label col-xs-2 col-xs-offset-1'
  .col-xs-6
    = f.text_area :fields, class: 'form-control', data: {toggle: 'popover', container: 'body', placement: 'right', content: 'Seperate fields with a comma', original: {title: ''}, }
:javascript
  $('textarea').popover()
  $('body').on('focusout', function(){
    $('textarea').popover('hide')
  })
