.row.form-group
  = f.label :name, class: 'control-label col-xs-2 col-xs-offset-1'
  .col-xs-6
    = f.text_field :name, class: 'form-control'
.row.form-group
  = f.label :mustache, 'Template', class: 'control-label col-xs-2 col-xs-offset-1'
  .col-xs-6
    = f.text_area :mustache, class: 'form-control'
.row.form-group
  = f.label :fields, 'Fields', class: 'control-label col-xs-2 col-xs-offset-1'
  .col-xs-6
    = f.text_area :fields, class: 'form-control'
.row.form-group
  = f.label :permission_group_ids, 'Permission Groups', class: 'control-label col-xs-2 col-xs-offset-1'
  .col-xs-6
    = select('style[permission_group_ids]','', (options_for_select(get_permission_groups)), {}, {class: 'form-control',multiple: true})
