!!! html
!!!
%html
  %head
    %title PaprBoi
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - if session[:user_id].present?
      .navbar.navbar-inverse.navbar-fixed
        .navbar-header
          %button.navbar-toggle{:type => "button", :data => {:toggle => "collapse", :target => ".navbar-inverse-collapse"}}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'Papr Boi', revolver_welcome_path, { class: 'navbar-brand'}
        .navbar-collapse.collapse.navbar-inverse-collapse
          %ul.nav.navbar-nav
            %li.dropdown
              %a.dropdown-toggle{:href => "#", :data => {:target => "#", :toggle => "dropdown"}}
                View
                %i.mdi-hardware-keyboard-arrow-down
              %ul.dropdown-menu
                %li
                  = link_to 'Modules', users_edit_path
                %li.divider
                %li
                  = link_to 'CSS', revolver_logout_path
                %li.divider
                %li
                  = link_to 'Users', users_index_path
                %li.divider
                %li
                  = link_to 'Permission Groups', revolver_logout_path
          %ul.nav.navbar-nav.navbar-right
            %li.dropdown
              %a.dropdown-toggle{:href => "#", :data => {:target => "#", :toggle => "dropdown"}}
                %i.mdi-social-person{style: 'font-size: 20px;'}
              %ul.dropdown-menu
                %li
                  = link_to 'User Profile', users_edit_path
                %li.divider
                %li
                  = link_to 'Logout', revolver_logout_path
    .col-xs-10.col-xs-offset-1
      .bs-component
        - if flash[:info].present?
          .alert.alert-dismissable.alert-success
            %button.close{type: 'button', data: {dismiss: 'alert'}} x
            = flash[:info]
        - if flash[:warning].present?
          .alert.alert-dismissable.alert-warning
            %button.close{type: 'button', data: {dismiss: 'alert'}} x
            = flash[:info]
        - if flash[:error].present?
          .alert.alert-dismissable.alert-danger
            %button.close{type: 'button', data: {dismiss: 'alert'}} x
            = flash[:info]
    .col-xs-12
      = yield
